.menu {
    width: 200px;
    height: 100vh;
    float: left;
    border-right: 1px solid #808080;
}
    .menu .logo {
        position: relative;
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
    }

        .menu .logo .icon-bar {
            width: 25px;
            height: 25px;
            background-image: url('../../content/img/toggle.png');
            cursor: pointer;
            background-repeat: no-repeat;
            margin-left: 20px;
            background-size: contain;
        }
            .menu .logo .logo-page {
                width: 110px;
                height: 25px;
                background-image: url('/content/img/cukcuk-logo.png');
                background-repeat: no-repeat;
                background-size: contain;
                margin-left: 10px;
            }

    .menu .menu__content {
        position: relative;
        width: 100%;
    }

        .menu .menu__content .menu__item {
            display: flex;
            width: 100%;
            height: 40px;
            align-items: center;

        }

            .menu .menu__content .menu__item:hover {
                background-color: #e5e5e5;
                cursor: pointer;
            }

            .menu .menu__content .menu__item .menu__icon {
                width: 24px;
                height: 16px;
                background-repeat: no-repeat;
                background-size: contain;
                margin-left: 25px;
            }
                .icon-dashboard {
                    background-image: url('../../content/icon/dashboard.png');
                }
                .icon-report {
                    background-image: url('../../content/icon/report.png');
                }
                .icon-dic-employee {
                    background-image: url('../../content/icon/dic-employee.png');
                }
                .icon-setting {
                    background-image: url('../../content/icon/setting.png');
                }
